<div class="container">
  <div class="row">
    <div class="col-1">
      <img src="assets/logo server2.webp"> 
    </div>
    <div class="col-10"> <!-- menu --> 
      <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Servers list</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Webs list</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Servers management</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Webs management</a></li>
        </ul>
      </header>
    </div>

    <h1> Bienvenido a hosting manager! </h1> <!-- titulo de bienvenida-->
    <div class="col-md-6"> <!-- Introducción a la página-->
      <h2>Administración de servidores y sus sitios webs alojados</h2> 
        <p> 
          Disfrute de una vista ordenada de sus servidores para web hosting. Los servidores dedicados          
          son la solución perfecta para alojar proyectos en los que un alojamiento compartido ya no es 
          suficiente. Pero llevar a cabo seguimiento de los mismos es vital para mantener el orden.         
        </p>
        <p>
          Hosting manager le proporciona una interfaz gráfica parga lorar una clara documentación
          sobre sus servidores y las webs alojadas en ellos. Agregue, quite y modifique webs en sus respectivos
          servidores y lo propio para sus servidores en su rack virtual para adaptarlos según sus necesidades.  
        </p>
          Compruebe la carga de webs en servidores y el gasto de recursos que realiza cada una de las aplicaciones
          web instaladas en el servidor
        <p> 

        </p>
    </div>
    <div class="col-md-3">        
      <img src="assets/rack de servidores2.jpg" style="float:right">
    </div>

    <div class="row justify-content-center"> <!-- footer -->     
      <div class="col-md-4 d-flex align-items-left"> 
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">© {{year}} Hosting manager, Inc </span>
      </div>
    </div>
  </div>
</div>